.two.columns{
    background-color:rgb(5,0,54);


}

.ten.columns{
    background-image:url(https://cdn.pixabay.com/photo/2017/05/24/19/14/shapes-2341316_960_720.jpg);
    background-position:cover;
}

.logo{
    width: 13.33%;
    display:block;
    text-align:center;
}

*{
    background-image:url(https://cdn.pixabay.com/photo/2017/05/24/19/14/shapes-2341316_960_720.jpg);
    background-position:cover;
  
}

.myface{
    width:20%;
}
<img class="logo"src="https://78.media.tumblr.com/cbcd4c2db4a9e42d3b9eb25758e678f4/tumblr_ozv0v0edHS1s1rfkto1_400.png"alt="logo"title="tat's blog">  
<img class="myface" src="https://scontent.fakl3-1.fna.fbcdn.net/v/t1.0-9/23795203_1250081998431033_1130731990616226908_n.jpg?oh=5972b13040bebc3d897554795392d619&oe=5A9CFAC9" alt="this is an image">