@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);



body {
    background-color:lightGrey;
    font: normal 300 22px "Open Sans";
    color: rgb(50, 50, 50);
    margin: 0;
    max-width: 1300px;
    min-width: 360px;
    width: 100%;
  }
  
  header {
     background-image: url(http://cdn.playbuzz.com/cdn/2ec4132f-496f-4809-856c-7236e114d62e/f37fa465-4b7e-4863-86eb-3ffcce1a79f0.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
    margin: 0;
    padding-top: 1px;
    width: 100%;
  }
  
  footer{
    background-image: -webkit-linear-gradient(rgb(132,112,255), rgb(72,61,139));
  background-image: -moz-linear-gradient(rgb(132,112,255), rgb(72,61,139));
  background-image: -o-linear-gradient(rgb(132,112,255), rgb(72,61,139));
  background-image: linear-gradient(rgb(132,112,255), rgb(72,61,139));
    color: white;
    padding: 30px 20px 0px 20px;
    margin-top: 100px;
  }
  
  header section {
    background-image: -webkit-linear-gradient(rgb(132,112,255), rgb(72,61,139));
  background-image: -moz-linear-gradient(rgb(132,112,255), rgb(72,61,139));
  background-image: -o-linear-gradient(rgb(132,112,255), rgb(72,61,139));
  background-image: linear-gradient(rgb(132,112,255), rgb(72,61,139));
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 1px;
    padding-top: 30px;
    padding-bottom:20px;
  }
  
  img {
    padding-bottom: 30px;
    clear: both;
  }
  
  footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }
  
  iframe {
    margin-top: 30px;
    height: 380px;
  }
  
  h1 {
    padding: 80px 0 10px 20px;
    color: white;
    font: normal 700 24px "Open Sans";
    letter-spacing: .8px;
    text-shadow: 0 0 20px rgb(0,0,0);
  }
  
  h2 {
    color: white;
    margin: 0;
    font: normal 300 45px "Open Sans";
    padding-top: 20px;
  }
  
  h3 {
    color: darkBlue;
    font: normal 400 32px "Open Sans";
  }
  
  h4 {
    background-image: -webkit-linear-gradient(rgb(132,112,255), rgb(72,61,139));
  background-image: -moz-linear-gradient(rgb(132,112,255), rgb(72,61,139));
  background-image: -o-linear-gradient(rgb(132,112,255), rgb(72,61,139));
  background-image: linear-gradient(rgb(132,112,255), rgb(72,61,139));
    color: white;
    font-size: 32px;
    font-weight:400;
    border-radius:100px;
    line-height: 53px;
    text-align: center;
    width: 80px;
  }
  
  section {
    padding: 0 20px;
   
    
  }